.leftBar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 170px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .logo {
    display: flex;
    color: white;
    align-items: center;
    h2 {
      margin-left: 3px;
      span {
        margin-left: 2px;
        font-size: 5px;
      }
    }
    .logoContainer {
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      img {
        display: block;
        width: 50px;
        scale: 1.05;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    div:nth-child(3) {
      padding-bottom: 20px;
    }
    div:last-child {
      border-bottom: 1px solid rgb(72, 72, 72);
      padding-bottom: 20px;
    }
    .menuContainer {
      display: flex;
      align-items: center;
      gap: 15px;
      position: relative;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
      img {
        width: 27px;
        opacity: 0.7;
      }
      a {
        font-size: 12px;
        font-weight: 700;
      }
      .hearthContainer {
        border-radius: 2px;
        background: linear-gradient(to bottom right, rgb(8, 16, 175), rgb(197, 176, 208));
        width: 27px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: block;
          width: 19px;
        }
      }
    }
  }
  .playlists {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    overflow: hidden;
    padding-bottom: 30px;

    &:hover {
      overflow-y: scroll;
    }
    a:last-child {
      padding-top: 10px;
    }
    .list {
      font-weight: 400;
      font-size: 14px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    &::-webkit-scrollbar {
      background-color: rgb(0, 0, 0);
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(68, 68, 68);
      transition: 2s;
      opacity: 0;
      &:hover {
        background-color: rgb(148, 148, 148);
        opacity: 1;
      }
    }
  }
}
