.tracks {
  .cover {
    display: flex;
    align-items: center;
    gap: 30px;
    .coverArea {
      background: linear-gradient(to bottom right, rgb(8, 16, 175), rgb(197, 176, 208));
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 120px;
        object-fit: cover;
      }
    }
    .textArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      h4 {
        span:last-child {
          color: grey;
          font-weight: 600;
        }
      }
    }
  }
  .mid {
    display: flex;
    padding: 30px 0 25px 0;
    position: relative;
    img {
      &:hover {
        scale: 1.1;
      }
    }
    .dots {
      font-size: 40px;
      color: grey;
      cursor: default;
      position: absolute;
      top: 23px;
      left: 95px;
      &:hover {
        color: white;
      }
    }
  }
  .songs {
    color: grey;
    table {
      border-collapse: collapse;
      width: 100%;
      border: none;

      tr {
        td {
          padding: 8px;
        }
        img {
          width: 15px;
        }
        &:hover {
          background-color: rgb(54, 54, 54);
        }
        &:hover .heart,
        &:hover .dots {
          visibility: visible;
        }
        td:first-child {
          width: 15px;
        }
        td:nth-child(5) {
          width: 15px;
        }
        td:nth-child(6) {
          width: 15px;
        }
        td:nth-child(7) {
          width: 15px;
        }
        .heart,
        .dots {
          all: revert;
          visibility: hidden;
          scale: 0.3;
        }
        td:nth-child(7) {
          width: 15px;
        }
        .titleContainer {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            object-fit: cover;
            width: 50px;
            height: 50px;
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            div:first-child {
              color: white;
            }
          }
        }
      }
    }
  }
}
